<div
  fxLayout="row"
  fxLayoutAlign="center center"
  class="login-main"
>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Registro
      </mat-card-title>
    </mat-card-header>
    
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input
          matInput
          placeholder="Usuário"
          [formControl]="registerForm.controls['login']"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Senha"
          [formControl]="registerForm.controls['password']"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Nome"
          [formControl]="registerForm.controls['name']"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Cidade Natal"
          [formControl]="registerForm.controls['hometown']"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Data de nascimento"
          [formControl]="registerForm.controls['birthdate']"
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
      <button
        mat-raised-button
        color="primary"
        (click)="cancel()"
      >
        Cancelar
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="register()"
        [disabled]="registerForm.invalid"
      >
        Registrar
      </button>
    </mat-card-actions>
  </mat-card>
</div>