<div
  style="margin-top: 2%;"
  class="p-grid"
>
  <div class="p-col-2">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon style="font-size: 50px;">android</mat-icon>
        </div>
        <mat-card-title>{{currentUser.name}}</mat-card-title>
        <mat-card-subtitle>Informações do Usuário</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Cidade Natal: {{currentUser.hometown}}</p>
        <p>Data de nascimento: {{currentUser.birthdate | date}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="p-col-8">
    <mat-tab-group>
      <mat-tab label="Listar Amigos">
        <p-table
          #amigosTable
          [value]="amigos"
          [paginator]="true"
          [rows]="12"
          [globalFilterFields]="globalFilterFields"
        >
          <ng-template pTemplate="caption">
            <div style="text-align: right">        
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Filtrar"
                  (input)="amigosTable.filterGlobal($event.target.value, 'contains')"
                >
              </mat-form-field>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Nome</th>
              <th>Cidade Natal</th>
              <th>Login</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-usuario>
            <tr>
              <td>{{usuario.name}}</td>
              <td>{{usuario.hometown}}</td>
              <td>{{usuario.login}}</td>
            </tr>
          </ng-template>
        </p-table>
      </mat-tab>      
      <mat-tab label="Adicionar Amigos">
        <p-table
          #usuariosTable
          [value]="usuarios"
          [paginator]="true"
          [rows]="12"
          [globalFilterFields]="globalFilterFields"
        >
          <ng-template pTemplate="caption">
            <div style="text-align: right">        
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Filtrar"
                  (input)="usuariosTable.filterGlobal($event.target.value, 'contains')"
                >
              </mat-form-field>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Nome</th>
              <th>Cidade Natal</th>
              <th>Login</th>
              <th>Adicionar</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-usuario>
            <tr>
              <td>{{usuario.name}}</td>
              <td>{{usuario.hometown}}</td>
              <td>{{usuario.login}}</td>
              <td style="text-align: center;">
                <a
                  (click)="adicionar(usuario.login)"
                  mat-button
                  color="primary"
                >
                  <mat-icon >add</mat-icon>
                </a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </mat-tab>
      <mat-tab label="Amigos Sugeridos">
        <p-table
          #sugeridosTable
          [value]="sugeridos"
          [paginator]="true"
          [rows]="12"
          [globalFilterFields]="globalFilterFields"
        >
          <ng-template pTemplate="caption">
            <div style="text-align: right">        
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Filtrar"
                  (input)="sugeridosTable.filterGlobal($event.target.value, 'contains')"
                >
              </mat-form-field>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Nome</th>
              <th>Cidade Natal</th>
              <th>Login</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-usuario>
            <tr>
              <td>{{usuario.name}}</td>
              <td>{{usuario.hometown}}</td>
              <td>{{usuario.login}}</td>
            </tr>
          </ng-template>
        </p-table>
      </mat-tab>
    </mat-tab-group> 
  </div>
</div>