<div *ngIf="currentUser">
  <button
    color="primary"
    mat-button
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
    Menu
  </button>
  <mat-menu #menu="matMenu">
    <a
      mat-menu-item
      routerLink="/"
    >
      <mat-icon>home</mat-icon>
      Home
    </a>
    <a
      mat-menu-item
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>
      Logout
    </a>
  </mat-menu>
  <a
    mat-button
    color="primary"
    routerLink="/filmes"
  >
    <mat-icon>movie</mat-icon>
    Filmes
  </a>
  <a
    mat-button
    color="primary"
    routerLink="/musicas"
  >
    <mat-icon>library_music</mat-icon>
    Artistas Musicais
  </a>
</div>

<!-- main app container -->
<div>
  <app-alert></app-alert>
  <router-outlet></router-outlet>
</div>