<div
  fxLayout="row"
  fxLayoutAlign="center center"
  class="login-main"
>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Autenticação
      </mat-card-title>
    </mat-card-header>
    
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input
          matInput
          placeholder="Usuário"
          [formControl]="username"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Senha"
          [formControl]="password"
          required
        />
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
      <button
        mat-raised-button
        color="primary"
        (click)="register()"
      >
        Registrar
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="login()"
        [disabled]="password.invalid || username.invalid"
      >
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>