<mat-tab-group>
  <mat-tab label="Filmes Favoritos">
    <mat-list>
      <mat-list-item *ngFor="let filme of filmes">
        <mat-icon mat-list-icon>movie</mat-icon>
        <h4 mat-line>{{filme}}</h4>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Adicionar filmes">
    <mat-form-field style="margin-top: 2%;">
      <input
        matInput
        placeholder="Nome do filme"
        [formControl]="nome"
      >
    </mat-form-field>
    <mat-form-field style="margin-left: 2%;">
      <input
        matInput
        placeholder="URI do filme"
        [formControl]="uri"
      >
    </mat-form-field>
    <mat-form-field style="margin-left: 2%;">
      <mat-label>Nota</mat-label>
      <mat-select [formControl]="nota">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>
      </mat-select>
    </mat-form-field>
    <a
      mat-button
      color="primary"
      (click)="adicionar()"
    >
      <mat-icon >add</mat-icon>
    </a>
  </mat-tab>
  <mat-tab label="Sugestões">
    <mat-list>
      <mat-list-item *ngFor="let sugestao of sugestoes">
        <mat-icon mat-list-icon>movie</mat-icon>
        <h4 mat-line>{{sugestao}}</h4>
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>