/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.login-main{
  margin-top: 10%;
}
mat-card{
  min-width: 40%;
}